<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'settings.css' %}">
  <link rel="stylesheet" href="{% static 'settings.js' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>설정 페이지</title>
  <link rel="stylesheet" href="./css/settings.css">
</head>
<body>
<div class="form">
  <form class="form" action="{% url 'change_settings' %}" method='POST'>
  <div class="form-inner">
    <header class="header">
      <h2>설정</h2>
      <button class="btn btn--secondary" onclick="navigateBack()" type="submit">뒤로가기</button>
    </header>
    <main>
      <div class="setting-group">
        <label for="font_size">글자 크기 변경:</label>
        <select id="font_size" name="font_size" onchange="changeFontSize(this.value)">
          <option name="font_size" value=1>기본</option>
          <option name="font_size" value=2>크게</option>
          <option name="font_size" value=3>아주 크게</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="new-password">비밀번호 변경:</label>
        <input type="password" id="new-password" placeholder="새 비밀번호">
        <button class="btn btn--primary" onclick="changePassword()">변경</button>
      </div>
      <div class="setting-group">
        <button class="btn btn--primary" onclick="deleteAccount()">회원 탈퇴</button>
      </div>
      <div class="setting-group">
        <label for="voice-assist">음성 보조:</label>
        <input type="checkbox" id="voice-assist" onchange="toggleVoiceAssist(this.checked)">
      </div>
    </main>
  </div>
  </form>
</div>
<script src="./js/settings.js"></script>
</body>
</html>
